.work {
    padding-bottom: 94px;
}

.work .list {
    display: flex;
    gap: 30px;
}

.work-item {
    width: calc((100% - 60px) / 3);
}

.work-thumb {
    position: relative;
}

.work-title-thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-title {
    font-size: 14px;
    line-height: 1.1721;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}